# Node / Electron
node_modules/
dist/
dist-installer/
dist-backend/
out/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET / C#
bin/
obj/
[Oo]bj/
[Bb]in/
*.user
*.userosscache
*.sln.docstates
*.suo
*.bin

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Local configuration / Data
appsettings.Development.json
*.db
*.csv
metadata/
downloads/
!RawTorrent/TorServices/TorServices/Resources/*.jpg
!RawTorrent/TorServices/TorServices/Resources/*.ico

# OS files
.DS_Store
Thumbs.db
desktop.ini
*.vsidx
*.json
*.v2
*.ps1